@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

.box {
  box-shadow: 0 5px 15px rgba(48, 43, 43, 0.25);
  border-radius: 13px;
  background-color: #f2e5e2;
  width: 100%;
  padding: 15px;
  margin: 0 10px;
}

.navbar-toggler {
  border: solid rgba(255, 255, 255, 0.15);
}

.navbar {
  font-size: 16px;
}

.navbar .offcanvas {
  background-color: #ebe3e1;
}

.caro-hero .carousel .carousel-item {
  height: 400px;
}

.caro-hero .carousel-item img {
  min-height: 400px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1506268452458-bfb3757ed859?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80");
}
.parallax:nth-child(2) {
  background-image: url("https://plus.unsplash.com/premium_photo-1670591909035-df1e99c163df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80");
}
.parallax:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1542202229-7d93c33f5d07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
}

.caro-hero .carousel .carousel-item .carousel-caption {
  bottom: 7.25rem;
  /* color: black; */
  /* color: #3a231f; */
}

.caro-hero .carousel-caption h1 {
  font-weight: 700;
  letter-spacing: 5px;
}

.modal-dialog .modal-content {
  background-color: #f8edeb;
}

.modal-body .form-control {
  background-color: #f8f2f1;
}

.modal-body .form-control:focus {
  border-color: rgb(205, 180, 180);
  box-shadow: 0 0 0.5rem 0.1rem #ebe3e1;
  background-color: #f8f2f1;
}

.modal-footer .send {
  background-color: #885752;
  color: white;
  transition: 0.3s;
}

.modal-footer .send:hover {
  transition: 0.4s;
  background-color: #552724;
  color: white;
}

.about .carousel .carousel-item {
  height: 250px;
}

.about .carousel-item img {
  min-height: 250px;
}

.about .carousel .carousel-item .carousel-caption {
  bottom: 2.25rem;
  color: rgb(252, 249, 247);
  /* color: #3a231f; */
}

.about .carousel-caption h2 {
  font-weight: 700;
  letter-spacing: 1px;
}
.about .carousel-caption p {
  color: rgb(252, 249, 247);
}

/* .about {
  background-color: #f6ddd8;
  background-color: #f4e3df;
} */

.about-desc h2 {
  font-weight: 600;
}

.best-artwork,
.filter-galery,
.about {
  background-color: #f1e6e4;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #972a2aa0;
}
.container-card {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.container-card:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.more-info {
  transition-duration: 1s;
  display: flex;
  align-items: center;
}

.more-info i {
  padding-left: 5px;
  transition-duration: 1s;
}

.container-card:hover .more-info i {
  padding-left: 20px;
  transition-duration: 1s;
}

footer {
  background-color: #d5b1a7;
  color: rgb(62, 44, 44);
}

.nav-underline .nav-item .nav-link {
  color: rgb(106, 52, 52);
}

@media screen and (max-width: 768px) {
  .about-desc {
    text-align: center;
  }
}
